body {
 text-align: center;
background-color: darkturquoise;   
}

div{    
margin-top: 15px;       
}
h2{
cursor: pointer;
    
}
.image-section{
    display: flex;
    justify-content:center
}
.section-style{
 margin-left: 25px;
    margin-right: 25px;
    background-color: white    
}